<div class="container">
  <div class="outer-centered">
    <div class="inner">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, iure
      atque molestiae, magni fugit repudiandae eaque ea hic facere deserunt
      vitae dolore. Perferendis, quos eos.
    </div>
  </div>
  <div class="outer-centered">
    <div class="inner">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, iure
      atque molestiae, magni fugit repudiandae eaque ea hic facere deserunt
      vitae dolore. Perferendis, quos eos.
    </div>
  </div>
</div>
<div class="container">
  <div class="outer-left">
    <div class="inner">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, iure
      atque molestiae, magni fugit repudiandae eaque ea hic facere deserunt
      vitae dolore. Perferendis, quos eos.
    </div>
  </div>
  <div class="outer-right">
    <div class="inner">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, iure
      atque molestiae, magni fugit repudiandae eaque ea hic facere deserunt
      vitae dolore. Perferendis, quos eos.
    </div>
  </div>
</div>
